@{
    ViewData["Title"] = "Моя библиотека";
}
@{
}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>Моя библиотека</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->
<!-- job_listing_area_start  -->
<div class="job_listing_area plus_padding">
    <div class="container">

        <div class="col-lg-9">


            <div class="job_lists m-0">
                <div class="row">
                    @for(int i = 0; i< ViewBag.ReceivedUser.Count; i ++)
                    {
                        <div class="col-lg-12 col-md-12">
                            <div class="single_jobs white-bg d-flex justify-content-between">
                                <div class="jobs_left d-flex align-items-center">
                                    <div class="thumb" style="display: table;">
                                        <img href="/Catalog/More/@ViewBag.ReceivedUser[i].Item6" height="80" width="auto" src=@ViewBag.ReceivedUser[i].Item2 alt="">
                                    </div>
                                    <div class="jobs_conetent">
                                        <a href="/Catalog/More/@ViewBag.ReceivedUser[i].Item6"><h4>@ViewBag.ReceivedUser[i].Item1</h4></a>
                                        <div class="links_locat d-flex align-items-center">
                                            <div class="location">
                                                <p> <i class="fa fa-map-marker"></i>@ViewBag.ReceivedUser[i].Item3</p>
                                            </div>
                                            <div class="location">
                                                <p> <i class="fa fa-clock-o"></i>@ViewBag.ReceivedUser[i].Item4</p>
                                            </div>
                                            <div class="location">
                                                <p> <i class="fa fa-clock-o"></i>@ViewBag.ReceivedUser[i].Item5</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form method="post" asp-action="MyReceived" asp-controller="Catalog">
                                    <input type="hidden" value="@User.Claims.ElementAt(0).Value" name="User" />
                                    <input type="hidden" value="@ViewBag.ReceivedUser[i].Item6" name="pubid" />
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            <button type="submit" value="submit" class="genric-btn danger-border">Удалить</button>
                                        </div>

                                    </div>
                                </form>
</div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>